.btn-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px;
}

.base-button {
  background-color: #457ace;
  border: solid #e2e2e2;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #e2e2e2;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 6px rgba(166, 175, 195, 0.25); /* Updated shadow */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.base-button:hover {
  background-color: #17376b;
  color: #fff;
}
