.register-form {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-item {
  width: 50%;
  padding-left: 13px;
  box-sizing: border-box;
}

.error-div {
  padding: 10px;
  text-align: center;
}

.error-text {
  color: red;
}
