.login-form {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-item {
  padding-left: 15px;
  width: 50%;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .flex-item {
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .login-form {
    width: 250px;
  }
}
.error-div {
  padding: 10px;
  text-align: center;
}

.error-text {
  color: red;
}
