.password-button {
  position: absolute;
  top: 53%;
  left: 195px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.password-icon {
  width: 20px;
  height: 20px;
  color: #888;
}

.password-icon:hover {
  color: #333;
}
