.password-button {
  position: absolute;
  right: 20px;
  top: 13px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.password-icon {
  font-size: 18px;
}
